# File type
*.hex
*.map
*.lst
*.scvd
*.uvoptx
*.uvguix.*
*.emProject
*.emSession
.vscode
.vs
*.o
*.d
*.exe
*.crf
*.htm
*.dep
*.axf
*.lnp
*.cmake

core
Makefile
CMakeCache.txt

# Forder
Objects
build
DebugConfig
Listings
Objects
Output
Debug
Exe
Obj
cmake-build-debug
CubeMx
NN
DSP

# File
JLinkLog.txt
LICENSE.txt
History.txt
st_readme.txt
License.md
setting.ini
.sconsign.dblite
__pycache__
